* {
    margin: 0;
    padding: 0;
}

/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Estilos para etiquetas y entradas */
label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

/* Estilos para botones */
button {
    background-color: #b86274;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 10px;
}

button:hover {
    background-color: #b4689e;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

h1 {
    margin-top: 50px;
    color: #34171e;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

td {
    border: 1px solid #eac3dd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #be8aa5;
}

.select {
    width: 100%;
    margin: 20px;
    display: flex;
    justify-content: center;
}

select {
    width: 120px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    background-image: linear-gradient(90deg, #b86274 0%, #b683a1 100%);
    color: #ffffff;
}

select:focus {
    border-color: #ff4081;
}

option {
    background-color: #fce4ec;
    color: #1e1c1d;
    display: flex;
    text-align: center;
}